<h1>All trips</h1>

<%= link_to 'Add new trip', new_trip_path %>

<table>
  <tr>
    <th>Trip</th>
    <th>Region</th>
    <th>Dates</th>
    <th colspan="3"></th>
  </tr>

  <% @trips.each do |trip| %>
    <tr>
      <td><%= link_to trip.title, trip_path(trip) %></td>
      <td>
        <%= trip.origin %>
        &ndash;
        <%= trip.destination %>
      </td>
      <td>
        <%= trip.start_date.strftime("%F") %>
        &ndash;
        <%= trip.end_date.strftime("%F") %>
      </td>
      <td><%= link_to 'Show', trip_path(trip) %></td>
      <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
      <td><%= link_to 'Delete', trip_path(trip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

