<h1><%= @trip.title %></h1>
<p>
  <h3>
    from <%= @trip.origin %> to <%= @trip.destination %>
  </h3>
</p>

<p class="dates">
  <h3>
    <%= @trip.start_date.strftime("%F") %>
    &ndash;
    <%= @trip.end_date.strftime("%F") %>
  </h3>
</p>

<p>
  <strong>Skipper:</strong>
  <%= @trip.skipper_name %>
</p>

<p>
  <strong>Boat:</strong>
  <%= @trip.boat_name %>
</p>

<p>
  <strong>Boat type:</strong>
  <%= @trip.boat_type %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %>
<%= link_to 'Delete', trip_path(@trip), method: :delete, data: { confirm: 'Do you really want to delete this trip?' } %>

<h2>Logs</h2>
<%= link_to 'Add a log', new_trip_log_path(@trip) %>