<%= form_for([@trip, @trip.logs.build]) do |f| %>

  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@log.errors.count, "error") %> prohibited this trip from being saved:
      </h2>
      <ul>
        <% @log.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.select :latitude_hemisphere, options_for_select(["N", "S"],"N") %>
    <%= f.number_field :latitude_degrees, :in => 0..90 %>
    &deg;
    <%= f.number_field :latitude_minutes, :in => 0..60 %>
    <%= f.label "'" %>
    <%= f.number_field :latitude_seconds, :in => 0..60, :step => 'any' %>
    <%= f.label "''" %>
  </p>

  <p>
    <%= f.select :longitude_hemisphere, options_for_select(["E", "W"],"E") %>
    <%= f.number_field :longitude_degrees, :in => 0..180 %>
    &deg;
    <%= f.number_field :longitude_minutes, :in => 0..60%>
    <%= f.label "'" %>
    <%= f.number_field :longitude_seconds, :in => 0..60, :step => 'any' %>
    <%= f.label "''" %>
  </p>

  <p>
    <%= f.label :nautical_miles %><br>
    <%= f.number_field :nautical_miles %>
  </p>

  <p>
    <%= f.label :incidents %><br>
    <%= f.text_area :incidents %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>