<h1>
  <span class="coordinates">
    <%= @log.latitude_hemisphere %>
    <%= @log.latitude_degrees %>
    &deg;
    <%= @log.latitude_minutes %>
    '
    <%= @log.latitude_seconds %>
    "

    <%= @log.longitude_hemisphere %>
    <%= @log.longitude_degrees %>
    &deg;
    <%= @log.longitude_minutes %>
    '
    <%= @log.longitude_seconds %>
    "
  </span>
</h1>


